body {
    background-image: url(../images/splatter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.artist, .tour-date, .venue {
    text-align: left;
    margin-left: 80px;
    
}

.venue {
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}



.artist {
    font-weight: bold; 
    color: rgb(21, 78, 78);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.btn  {
    display: inline-block;
    margin-top: 35px;
    padding-right: 5px;
    width: 110px;
    font-weight: bold;
}

.title {
    font-weight: bold;
    font-family: 'Cinzel', serif; 
    font-size: 25px;
    margin-left: 5px;
}

.a href {
    font-family: 'Cinzel', serif;
}

.bands {
    padding-top: 5px;
}

.nav-wrapper1 {
    background: linear-gradient(to bottom right, rgb(98, 98, 112), rgb(230, 214, 217));
    display: flex;
    justify-content: space-between;
}

.search-bar {
    width: 400px;
}

.page-footer {
    background: linear-gradient(to bottom right,  rgb(98, 98, 112), rgb(230, 214, 217));
    font-family: 'Cinzel', serif; 
    }

.card-content {
    font-family: 'Cinzel', serif;
    
    }

.artist-name {
    color: orange;
}

/* Style all font awesome icons */
/* .fa { */
    /* font-size: 30px; 
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 15%;
    display: flex; 
    align-items: center;
    justify-content: center;   */
/* } */

/* Add a hover effect if you want */
.fa:hover {
    opacity: 1;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-snapchat {
    background: rgb(228, 228, 53);
    color: white;
}

.fa-instagram {
    background: blue;
    color: white;
}

#userLoc {
    color: #319F9E;
}

.card-content {
    font-size: 26px;
    padding-top: 8px !important;
    padding-bottom: 15px !important;
    margin-right: 8px !important;
    margin-left: 8px !important;
}

#slideCard {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 280px;
}

.input-fieldL,
.searchLocation {
    width: 350px;
}

#sBox {
    display: inline-block;
}

.btn-small {
    padding: 2px;
    margin-bottom: 5px;
    margin-left: 3px;
}