body {
    background-image: url("../images/splatter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-image: center;
 }

 header {
    background-color:rgba(0, 0, 0, 0.9);
     color: rgb(194, 194, 194);
 }

 h1 {
     margin: 0;
     text-align: center;
 }

 .collapsible-body {
    background-color:rgba(216, 216, 216, 0.8);
    color: black;
    font-size: 23px;
 }
 #iframePlayer {
    width: 560px;
    height: 315px;
    margin-left: 0 auto;
    margin-right: 0 auto;
 }